<br>
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th></th>
                </tr>
                <tbody *ngFor="let e of etudiant">
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.nom}}</td>
                        <td>{{e.prenom}}</td>
                        <td>{{e.cin}}</td>
                        <td>{{e.ddn}}</td>
                        <td>{{e.mail}}</td>
                        <td>{{e.phone}}</td>
                        <td>{{e.classe}}</td>
                        <td><a class="btn btn-danger">Supprimer</a></td>
                        <td><a class="btn btn-success">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
